USE [WebApi]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cliente](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Cliente] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Reserva](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[IdCliente] [int] NOT NULL,
	[idServicio] [int] NOT NULL,
	[Fecha] [smalldatetime] NOT NULL,
 CONSTRAINT [PK_Reserva] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Servicio](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Descripcion] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Servicio] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Cliente] ON 

INSERT [dbo].[Cliente] ([Id], [Nombre]) VALUES (1, N'Cliente1')
INSERT [dbo].[Cliente] ([Id], [Nombre]) VALUES (2, N'Cliente2')
INSERT [dbo].[Cliente] ([Id], [Nombre]) VALUES (3, N'Cliente3')
SET IDENTITY_INSERT [dbo].[Cliente] OFF
GO
SET IDENTITY_INSERT [dbo].[Reserva] ON 

INSERT [dbo].[Reserva] ([Id], [IdCliente], [idServicio], [Fecha]) VALUES (1, 1, 1, CAST(N'2025-03-03T00:00:00' AS SmallDateTime))
INSERT [dbo].[Reserva] ([Id], [IdCliente], [idServicio], [Fecha]) VALUES (2, 2, 1, CAST(N'2025-02-04T00:00:00' AS SmallDateTime))
SET IDENTITY_INSERT [dbo].[Reserva] OFF
GO
SET IDENTITY_INSERT [dbo].[Servicio] ON 

INSERT [dbo].[Servicio] ([Id], [Descripcion]) VALUES (1, N'Servicio1')
INSERT [dbo].[Servicio] ([Id], [Descripcion]) VALUES (2, N'Servicio2')
INSERT [dbo].[Servicio] ([Id], [Descripcion]) VALUES (3, N'Servicio3')
SET IDENTITY_INSERT [dbo].[Servicio] OFF
GO
ALTER TABLE [dbo].[Reserva]  WITH CHECK ADD  CONSTRAINT [FK_Reserva_Cliente] FOREIGN KEY([IdCliente])
REFERENCES [dbo].[Cliente] ([Id])
GO
ALTER TABLE [dbo].[Reserva] CHECK CONSTRAINT [FK_Reserva_Cliente]
GO
ALTER TABLE [dbo].[Reserva]  WITH CHECK ADD  CONSTRAINT [FK_Reserva_Servicio] FOREIGN KEY([idServicio])
REFERENCES [dbo].[Servicio] ([Id])
GO
ALTER TABLE [dbo].[Reserva] CHECK CONSTRAINT [FK_Reserva_Servicio]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[Cliente_List]
AS
BEGIN
declare @MsgError varchar(100)

BEGIN TRY
SET NOCOUNT ON; --No necesitamos pedirle al motor que cuente los registos.
SET ANSI_NULLS ON; --Habilitamos que interprete los NULLS 
SET QUOTED_IDENTIFIER ON; --Habilitamos Interpretacion de Comillas y comillas dobles validas
SET TRANSACTION ISOLATION LEVEL READ UNCOMMITTED; --Necesitamos acceder a la info sin que este comiteada
SET ANSI_WARNINGS OFF; --no necesitamos que nos avice los warning, variables sin usar, etc...
SET Language Spanish --Seteamos la lengua independiente del server, asi aparece en espanol.


select 
Id,
Nombre
from Cliente


END try

BEGIN CATCH
set @MsgError = ERROR_NUMBER() + ERROR_MESSAGE() + ERROR_SEVERITY() + ERROR_STATE() + ERROR_PROCEDURE() + ERROR_LINE()
RAISERROR(@MsgError, 16, 1);
END CATCH;
END


GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


/*
	Reserva_Find
*/

CREATE PROCEDURE [dbo].[Reserva_Find]
AS
BEGIN
declare @MsgError varchar(100)

BEGIN TRY
SET NOCOUNT ON; --No necesitamos pedirle al motor que cuente los registos.
SET ANSI_NULLS ON; --Habilitamos que interprete los NULLS 
SET QUOTED_IDENTIFIER ON; --Habilitamos Interpretacion de Comillas y comillas dobles validas
SET TRANSACTION ISOLATION LEVEL READ UNCOMMITTED; --Necesitamos acceder a la info sin que este comiteada
SET ANSI_WARNINGS OFF; --no necesitamos que nos avice los warning, variables sin usar, etc...
SET Language Spanish --Seteamos la lengua independiente del server, asi aparece en espanol.

select 
r.Id,
r.IdCliente,
r.IdServicio,
c.Nombre as Cliente,
s.descripcion as Servicio,
convert(varchar,r.Fecha,103) as Fecha
from Reserva r
inner join Cliente c 
	on c.Id = r.idcliente
inner join Servicio s 
	on s.id = r.IdServicio


END try

BEGIN CATCH
set @MsgError = ERROR_NUMBER() + ERROR_MESSAGE() + ERROR_SEVERITY() + ERROR_STATE() + ERROR_PROCEDURE() + ERROR_LINE()
RAISERROR(@MsgError, 16, 1);
END CATCH;
END


GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE PROCEDURE [dbo].[Reserva_Insert]
@IdCliente int,
@IdServicio smallint,
@Fecha smalldatetime
AS
BEGIN
declare @MsgError varchar(100)

BEGIN TRY
SET NOCOUNT ON; --No necesitamos pedirle al motor que cuente los registos.
SET ANSI_NULLS ON; --Habilitamos que interprete los NULLS 
SET QUOTED_IDENTIFIER ON; --Habilitamos Interpretacion de Comillas y comillas dobles validas
SET TRANSACTION ISOLATION LEVEL READ UNCOMMITTED; --Necesitamos acceder a la info sin que este comiteada
SET ANSI_WARNINGS OFF; --no necesitamos que nos avice los warning, variables sin usar, etc...
SET Language Spanish --Seteamos la lengua independiente del server, asi aparece en espanol.

declare @Existe int

select @Existe = count(*) from reserva r where 
day(r.Fecha) = day(@Fecha) and month(r.Fecha) = month(@Fecha) 


IF ( @Existe > 0 )
begin
	RAISERROR ('no pueden existir mas de una reserva' ,10, 1 );
	return;
end

insert into Reserva (IdCliente,IdServicio,Fecha) 
select @IdCliente, @IdServicio,@Fecha





END try

BEGIN CATCH
set @MsgError = ERROR_NUMBER() + ERROR_MESSAGE() + ERROR_SEVERITY() + ERROR_STATE() + ERROR_PROCEDURE() + ERROR_LINE()
RAISERROR(@MsgError, 16, 1);
END CATCH;
END


GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[Servicio_List]
AS
BEGIN
declare @MsgError varchar(100)

BEGIN TRY
SET NOCOUNT ON; --No necesitamos pedirle al motor que cuente los registos.
SET ANSI_NULLS ON; --Habilitamos que interprete los NULLS 
SET QUOTED_IDENTIFIER ON; --Habilitamos Interpretacion de Comillas y comillas dobles validas
SET TRANSACTION ISOLATION LEVEL READ UNCOMMITTED; --Necesitamos acceder a la info sin que este comiteada
SET ANSI_WARNINGS OFF; --no necesitamos que nos avice los warning, variables sin usar, etc...
SET Language Spanish --Seteamos la lengua independiente del server, asi aparece en espanol.


select 
s.Id,
s.Descripcion
from Servicio s

END try

BEGIN CATCH
set @MsgError = ERROR_NUMBER() + ERROR_MESSAGE() + ERROR_SEVERITY() + ERROR_STATE() + ERROR_PROCEDURE() + ERROR_LINE()
RAISERROR(@MsgError, 16, 1);
END CATCH;
END


GO
